* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Coloca cor cinza clara e fonte poppins*/
body {
    background-color: #CFDBD5;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


/*header*/
header{
    background-color:#fff;
    color: #ff8d3e;
    display: flex;
    justify-content: space-evenly; /*tava space between*/
    padding: 3px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagem-logo{
    width: 200px;
    height: auto;
    cursor: pointer;
    margin-left: 1.5rem;
    
}


.navbar{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
}


.botao1{
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    font-family: "Open Sans", sans-serif;
    border-color: #ff8d3e;
    color: #ff8d3e;
    padding: 12px 50px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 35px;
}  

.botao1:hover {
    background-color: #ff8d3e;
    color: #fff;
}

.botao2 {
    text-align: center;
    cursor: pointer;
    font-weight: 750;
    font-family: "Open Sans", sans-serif;
    border-color: #ff8d3e;
    color: #ff8d3e;
    padding: 12px 46px;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
}

.botao2:hover {
    background-color: #ff8d3e;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
}
/*fim do header*/


/*scrollbar*/
html::-webkit-scrollbar{
    width: 0.7rem;
}

html::-webkit-scrollbar-track{
    background:#d3dbd7;
}

html::-webkit-scrollbar-thumb{
    background:#606160;
    border-radius: 50px;
}
/*scrollbar*/

/*Banner*/
.banner{
    min-height: 60vh;
    background:  url(Imagens/historia-guarulhos.jpg) center/
    cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: stretch;  
}
/*fim do Banner*/
.descricao1 p{
    font-family: arial;
    padding: 1rem 1rem;
    margin: auto;
}

.descricao1 h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
/*footer*/
footer{
    text-align: center;
}
.social-links{
    background-color: #000;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.3s ease;
}

.social-links a:hover{
    background-color: #fff;
    color: #ff8d3e;
}

.copy{
    background-color: #ff8d3e;
    color: #fff;
    display: block;
    font-family: sans-serif;
}

.link-copy{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}
.link-copy:hover{
    color:#000 !important;
} 
/*final do footer*/



/*tema 1*/



.descricao1{
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: none!important;
    border-radius: 0.8rem;
}

.descricao1 h2{
    font-weight: bold;
}

p{
    font-family: 'Lato';
    font-size: 17px;
}


/*fim do tema 1*/