body {
    margin: 0;
    font-family: sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login h1 {
    color: #ff8d3e;
    font-size: 3vw;
}

.left-login-image {
    width: 35vw;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background:#000;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login h1{
    color:#ff8d3e;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #fff;
    color: #000;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    box-sizing: border-box;
}

.textfield label {
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield input::placeholder{
    color: #f0ffffde;
}

.textfield input:focus{
    width: 100;
}

.forgot{
    font-size: 14px; 
}

.forgot a{
    text-decoration: none;
    color: #f0ffffde;
    text-align: left;
}

.forgot a:hover{
    text-decoration: underline;
}
.btn-entrar {
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    margin-top: 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #000;
    background: #ff8d3e;
    cursor: pointer;
    box-shadow: 0px 10px 10px -12px #c96c2a;
    font-size: 14px;
}
.btn-entrar:hover {
    transform: scale3d(1.1, 1.1, 1);
    color:#fff;
}

.text-criar{
    color: #f0ffffde;
    margin-top: 10px;
}
.text-criar a{
    text-decoration: none;
    color: #ff8d3e;
}

.text-criar a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 950px){
    .main-login{
        flex-direction: column;
    }
    .left-login h1{
        display:none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 50vw;
    }
    .card-login{
        width: 50%;
    }
}

/*footer*/
footer{
    text-align: center;
}
.social-links{
    background-color: #000;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.3s ease;
}

.social-links a:hover{
    background-color: #fff;
    color: #ff8d3e;
}

.copy{
    background-color: #ff8d3e;
    color: #fff;
    display: block;
    font-family: sans-serif;
}

.link-copy{
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
}
.link-copy:hover{
    color:#000 !important;
} 
/*final do footer*/